# macOS
.DS_Store

# Node
node_modules/
npm-debug.log

# Cordova
/platforms/*
!/platforms/android/
!/platforms/android/**
/plugins/
/www/plugins/
/www/cordova.js
/www/cordova_plugins.js
/www/css/index.css.map
/www/js/index.js.map

# Editors
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Build artifacts
build/
dist/
*.apk
*.aab
*.ipa
.tools/
.gradle/
local.properties

# Keys and Secrets
*.keystore
*.jks
key.properties
build.json
