<?xml version='1.0' encoding='utf-8'?>
<widget id="tr.edu.kapadokya.puzzleapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ErtugrulsPuzzle</name>
    <description>Mobile image puzzle game for Android.</description>
    <author email="team@puzzleapp.local" href="https://example.com/puzzleapp">
        PuzzleApp Team
    </author>
    <content src="index.html" />

    <platform name="android">
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#1877f2" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <preference name="Orientation" value="portrait" />
    </platform>

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
</widget>
